html,
body {
  height: 100%;
  width: 100%;
}

/* GENERAL STYLES*/
.body-wallpaper {
  background-image: url(/images/tv_show-rick_and_morty-space-812414.jpeg);
}

@font-face {
  font-family: 'myFont';
  src: url('/fonts/get_schwifty\ 5.ttf'),
       url() format('ttf');
}

.font-style {
    font-family: 'myFont';
}

/* BORDER STYLES */

.container-border {
  margin: 1vw;
  padding: 1vw;
  border: 2px solid #97ce4c;
  border-radius: 15px;
}

.border-card {
  border: 5px solid #97ce4c;
}

.border-green {
  border-bottom: 2px solid #97ce4c;
  margin-top: 5vh;
}

/* DISPLAYS */

.grid-display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.flex-display {
  display: flex;
}

/* SIZES */

.full-width {
  width: 100vw;
}

.full-height {
  height: 70vh;
}

.full-character {
  height: 70vh;
}

.scroll-size {
  height: 65vh;
  overflow-y: scroll;
}

.img-size-button {
  width: 40px;
  height: 40px;
}

/* CENTERS STYLES */

.mt-divs {
  margin-top: 5vh;
}

.center-title {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 5vw;
}

/* COLOURS & POINTER */

.button-style {
  background-color: transparent;
}

.text-yellow {
  color: #f0e14a;
}

.no-cursor {
  cursor: default;
}

.cursor-select {
  cursor: pointer;
}

.bg-pink {
  background-color: #e4a788;
  opacity: calc(0.9);
}

/* RESPONSIVE STYLES */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  /* DISPLAYS */

  .display-respons {
    display: block;
  }

  /* SIZES */

  .size-respons-scroll {
    height: 75vh;
  }
  
  .size-respons {
    margin: 3vh 0;
    height: 85vh;
    width: 99vw;
  }

  .size-respons-ul {
    height: 80vh;
  }

  .size-respons-scroll {
    height: 75vh;
  }

  .size-respons-card {
    margin: 2vh 0;
  }

  .full-h-respons {
    height: 83vh;
  }

  /* CENTERS STYLES */

  .center-title-respons {
    padding-left: 30vw;
  }

}